<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Assignment 1 Sum 1a,1b,2</h1>	
	<form name="my_form" >
		1a)Enter a &nbsp;<input  type="text" name="a"><br>
		Enter b &nbsp;<input  type="text" name="b"><br><br><br>
                1b)Enter c &nbsp;<input  type="text" name="c"><br>
		Enter d &nbsp;<input  type="text" name="d"><br><br><br>
                2)The new values of e after the following operations are<br> a = 20<br>
b = 10<br>
c = 15<br>
d = 5<br>
e1=(a + b) * c // d >>1<br>
    e2=(a + b * c) // d>>1<br>
    e3=(a + b) * (c // (d>>1))<br>
    e4=a + (b * c) // d>>1<br>

		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON')" value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
